E2E_BASE_URL=http://cabinet-medical-laravel.test

E2E_ADMIN_EMAIL=admin@medisys.test
E2E_ADMIN_PASSWORD=password

E2E_MEDECIN_EMAIL=medecin@medisys.test
E2E_MEDECIN_PASSWORD=password

E2E_RECEPTION_EMAIL=reception@medisys.test
E2E_RECEPTION_PASSWORD=password
